<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pomodoro</title>
    <link rel="stylesheet" href="/styles.css" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/animation.js"></script>
  </head> 
  <body>
    <div class="main">
      <div class="watch">
        <div class="watchbuttons">
          <button id="pomodoroButton">Pomodoro</button>
          <button id="shortbreak">Short Break</button>
          <!-- <button id="longbreak">Long Break</button> -->
          <!-- watchbuttons -->
        </div>
        <div class="pomodoro">
          <p id="minitues"><%= minitues %></5></p>
          <p>:</p>
          <p id="seconds">00</p>
          <!-- pomodoro -->
        </div>
        <div class="lastdiv">
          <button class="mainbutton" value= <%= route %> >START</button>
          <!-- lastdiv -->
        </div>
        <!-- watch -->
      </div>
      <!-- main -->
    </div> 
    
  </body>
</html>
